/* colors */
.navy-blue {
    color: #37345D;
}

.light-blue {
    color: #7F8DFF;
}

/* margin */
.mb-30 {
    margin-bottom: 30px;
}

.ml-20 {
    margin-left: 20px;
}

/* extra css classes */
.none {
    display: none;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.br8 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}